<html>
<head>
<title>Javascript Login Form Validation</title>
<!-- Include CSS File Here -->
<link rel="stylesheet" href="/stylesheets/home.css"/>
<!-- Include JS File Here -->
<script src="/javascripts/login.js"></script>
</head>

<body>
<div class="container">
<div class="main">
<h2>Profile Page </br></h2>
   <h4>Name : <%= msg.username %> </br> 
    Email : <%= msg.email %> </br>
    Address : <%= msg.address %> </br>
    
</h4> 
 <a href = "/logout"><input type="button" id="logout" value="logout"/></a>
       </div>
</div>
</body>
</html>